<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Job detail</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>

<!-- Header -->
<header class="bg-light py-3 border-bottom">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center">

            <a class="btn btn-primary" th:href="@{/candidates}">Go back</a>
            <!-- User Info Area -->
            <div class="d-flex align-items-center">
                <a class="me-3" style="text-decoration: none; color: inherit;" th:href="@{#}">
                    <strong>[[${candidateLogin.fullName}]]</strong>
                </a>
                <form action="/login" method="post">
                    <input type="hidden" name="action" value="logout">
                    <button class="btn btn-outline-danger">Logout</button>
                </form>
            </div>
        </div>
    </div>
</header>

<div class="container mt-5">
    <!-- Thông tin công việc -->
    <div class="row mb-4">
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h3>Job Information</h3>
                </div>
                <div class="card-body">
                    <h4 class="card-title" th:text="${job.jobName}"></h4>
                    <p><strong>Job Description:</strong> <span th:text="${job.jobDesc}"></span></p>
                    <p><strong>Skills:</strong> <span style="margin-left: 3px; color: black" class="badge rounded-pill"
                                                          th:each="skill: ${job.getJobSkills()}">
                                [[${skill.skill.skillName}]] - Level [[${skill.skillLevel}]]
                            </span></p>

                    <p><strong>Skills needed of candidate:</strong>
                        <span th:each="canSkill: ${candidateLogin.getCandidateSkills()}">
                            <span style="margin-left: 3px" class="badge rounded-pill"
                                  th:each="jobSkill : ${job.getJobSkills()}"
                                    th:if="${canSkill.skill.skillName == jobSkill.skill.skillName} ? false : true">
                                [[${jobSkill.skill.skillName}]]
                            </span>
                        </span>

                    </p>
                </div>
            </div>
        </div>
    </div>

    <!-- Thông tin công ty -->
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <div class="card-header bg-secondary text-white">
                    <h3>Company Information</h3>
                </div>
                <div class="card-body">
                    <p><strong>Company Name:</strong> <span>[[${job.company.compName}]]</span></p>
                    <p><strong>About:</strong> <span>[[${job.company.about}]]</span></p>
                    <p><strong>Website:</strong>
                        <a style="text-decoration: none; color: inherit;">[[${job.company.webUrl}]]</a>
                    </p>
                    <p><strong>Zip code:</strong> <span>[[${job.company.address.zipcode}]]</span></p>
                    <p><strong>Email:</strong> <span>[[${job.company.email}]]</span></p>
                    <p><strong>Phone:</strong> <span>[[${job.company.phone}]]</span></p>
                    <p><strong>Address:</strong> <span>[[${job.company.address.number}]],
                            [[${job.company.address.city}]],
                        [[${job.company.address.country}]]
                    </span></p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>